/* 992 =================================================== */

// 1. ROOT 					==============================

h1 {
  font-size: 35px;
}

#container {
  width: 750px;
}

nav {
  width: 265px;

  .social-links {
    margin: 10px 0 70px 0;
  }
}

.content {
  padding-left: 300px;
}

.portfolio-item {
  margin: 0 0 100px;

  .photo-grid {
    height: 321.5px;
  }
}



// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================